body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.image-box {
  width:480px;
  height:180px;
  overflow:hidden;
  margin:0 auto;
  /* object-position: 5px 10%; */
  display: flex;
  justify-content: left;

}

.image-thumbnail {
  width:35%;
  height:90%;
  object-fit:cover;
  margin-left: 5em;
} 